In [3]:
# importa las bibliotecas Pandas y Numpy

import pandas as pd
import numpy as np

In [4]:
# Lee el archivo de entrada y lo asigna a la variable "df"

ubicacion = "./input/credit_risk.csv"
df = pd.read_csv(ubicacion)

In [11]:
# Muestra las primeras 5 filas usando el método dataframe.head()
print("Las primeras 10 filas del dataframe") 
df.head(90)

Las primeras 10 filas del dataframe

,Id,Age,Income,Home,Emp_length,Intent,Amount,Rate,Status,Percent_income,Default,Cred_length
0,0,22,59000,RENT,123.0,PERSONAL,35000,16.02,1,0.59,Y,3
1,1,21,9600,OWN,5.0,EDUCATION,1000,11.14,0,0.10,N,2
2,2,25,9600,MORTGAGE,1.0,MEDICAL,5500,12.87,1,0.57,N,3
3,3,23,65500,RENT,4.0,MEDICAL,35000,15.23,1,0.53,N,2
4,4,24,54400,RENT,8.0,MEDICAL,35000,14.27,1,0.55,Y,4
5,5,21,9900,OWN,2.0,VENTURE,2500,7.14,1,0.25,N,2
6,6,26,77100,RENT,8.0,EDUCATION,35000,12.42,1,0.45,N,3
7,7,24,78956,RENT,5.0,MEDICAL,35000,11.11,1,0.44,N,4
8,8,24,83000,RENT,8.0,PERSONAL,35000,8.90,1,0.42,N,2
9,9,21,10000,OWN,6.0,VENTURE,1600,14.74,1,0.16,N,3
10,10,22,85000,RENT,6.0,VENTURE,35000,10.37,1,0.41,N,4
11,11,21,10000,OWN,2.0,HOMEIMPROVEMENT,4500,8.63,1,0.45,N,2
12,12,23,95000,RENT,2.0,VENTURE,35000,7.90,1,0.37,N,2
13,13,26,108160,RENT,4.0,EDUCATION,35000,18.39,1,0.32,N,4
14,14,23,115000,RENT,2.0,EDUCATION,35000,7.90,0,0.30,N,4
15,15,23,500000,MORTGAGE,7.0,DEBTCONSOLIDATION,30000,10.65,0,0.06,N,3
16,16,23,120000,RENT,0.0,EDUCATION,35000,7.90,0,0.29,N,4
17,17,23,92111,RENT,7.0,MEDICAL,35000,20.25,1,0.32,N,4
18,18,23,113000,RENT,8.0,DEBTCONSOLIDATION,35000,18.25,1,0.31,N,4
19,19,24,10800,MORTGAGE,8.0,EDUCATION,1750,10.99,1,0.16,N,2
20,20,25,162500,RENT,2.0,VENTURE,35000,7.49,0,0.22,N,4
21,21,25,137000,RENT,9.0,PERSONAL,34800,16.77,0,0.25,Y,2
22,22,22,65000,RENT,4.0,EDUCATION,34000,17.58,1,0.52,N,4
23,23,24,10980,OWN,0.0,PERSONAL,1500,7.29,0,0.14,N,3
24,24,22,80000,RENT,3.0,PERSONAL,33950,14.54,1,0.42,Y,4
25,25,24,67746,RENT,8.0,HOMEIMPROVEMENT,33000,12.68,1,0.49,N,3
26,26,21,11000,MORTGAGE,3.0,VENTURE,4575,17.74,1,0.42,Y,3
27,27,23,11000,OWN,0.0,PERSONAL,1400,9.32,0,0.13,N,3
28,28,24,65000,RENT,6.0,HOMEIMPROVEMENT,32500,9.99,1,0.50,N,3
29,29,21,11389,OTHER,5.0,EDUCATION,4000,12.84,1,0.35,Y,2
30,30,21,11520,OWN,5.0,MEDICAL,2000,11.12,1,0.17,N,3
31,31,25,120000,RENT,2.0,VENTURE,32000,6.62,0,0.27,N,2
32,32,26,95000,RENT,7.0,HOMEIMPROVEMENT,31050,14.17,1,0.33,Y,3
33,33,25,306000,RENT,2.0,DEBTCONSOLIDATION,24250,13.85,0,0.08,N,3
34,34,26,300000,MORTGAGE,10.0,MEDICAL,7800,13.49,0,0.03,N,4
35,35,21,12000,OWN,5.0,EDUCATION,2500,7.51,1,0.21,N,4
36,36,22,48000,RENT,1.0,EDUCATION,30000,18.39,1,0.63,N,2
37,37,24,64000,RENT,8.0,DEBTCONSOLIDATION,30000,14.54,1,0.47,Y,3
38,38,25,75000,RENT,4.0,HOMEIMPROVEMENT,30000,16.89,1,0.40,Y,4
39,39,23,71500,RENT,3.0,DEBTCONSOLIDATION,30000,NaN,1,0.42,N,4
40,40,26,62050,RENT,6.0,MEDICAL,30000,17.99,1,0.41,N,2
41,41,24,12000,OWN,4.0,VENTURE,2500,12.69,1,0.21,N,3
42,42,26,300000,MORTGAGE,10.0,VENTURE,20000,7.88,0,0.07,N,4
43,43,23,300000,OWN,1.0,EDUCATION,24250,19.41,0,0.08,Y,2
44,44,26,300000,OWN,9.0,HOMEIMPROVEMENT,10000,10.38,0,0.03,N,4
45,45,26,300000,MORTGAGE,0.0,EDUCATION,25000,15.33,0,0.08,N,3
46,46,25,300000,MORTGAGE,9.0,HOMEIMPROVEMENT,18000,16.45,0,0.06,N,3
47,47,26,80690,RENT,8.0,PERSONAL,30000,7.49,1,0.37,N,3
48,48,22,66300,RENT,4.0,MEDICAL,30000,12.69,1,0.38,N,3
49,49,26,89028,RENT,0.0,DEBTCONSOLIDATION,30000,6.62,1,0.34,N,3

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              32581 non-null  int64
 1   Age             32581 non-null  int64
 2   Income          32581 non-null  int64
 3   Home            32581 non-null  object
 4   Emp_length      31686 non-null  float64
 5   Intent          32581 non-null  object
 6   Amount          32581 non-null  int64
 7   Rate            29465 non-null  float64
 8   Status          32581 non-null  int64
 9   Percent_income  32581 non-null  float64
 10  Default         32581 non-null  object
 11  Cred_length     32581 non-null  int64
dtypes: float64(3), int64(6), object(3)
memory usage: 3.0+ MB