Carga de librerías

In [1]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   ---------------------------------------  245.8/250.0 kB 7.6 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 7.6 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.0 kB 7.6 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.4 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [3]:
import numpy as np  
import pandas as pd 
%matplotlib inline
import matplotlib as plt

In [5]:
df_can = pd.read_csv(
    'Behavioral_Risk_Factor_Data__Tobacco_Use__2011_to_present_.csv'
)

print('Datos leídos y cargados en un dataframe de Pandas!')

Datos leídos y cargados en un dataframe de Pandas!

In [6]:
df_can.head()

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2017,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,110CSA,2GEN,8AGE,6RAC,6EDU,BRF21,21
1,2018,US,National Median (States and DC),Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Current,%,Percentage,...,NaN,BEH,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF27,27
2,2017,US,National Median (States and DC),Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Never,%,Percentage,...,NaN,BEH,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF28,28
3,2016,GU,Guam,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,150BEH,177SCU,1GEN,8AGE,4RAC,6EDU,BRF69,69
4,2014,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,110CSA,1GEN,8AGE,5RAC,6EDU,BRF22,22

In [7]:
df_can.tail()

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
43336,2011,RI,Rhode Island,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(41.70828019300046, -71.52247031399963)",BEH,150BEH,177SCU,1GEN,4AGE,6RAC,6EDU,BRF70,70
43337,2013-2014,MA,Massachusetts,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(42.27687047000046, -72.08269067499964)",BEH,100BEH,112CS2,1GEN,8AGE,3RAC,6EDU,BRF32,32
43338,2015,AK,Alaska,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(64.84507995700051, -147.72205903599973)",BEH,100BEH,110CSA,1GEN,6AGE,6RAC,4EDU,BRF24,24
43339,2014,IA,Iowa,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),User Status,BRFSS,Current,%,Percentage,...,"(42.46940091300047, -93.81649055599968)",BEH,150BEH,179SUS,2GEN,8AGE,6RAC,6EDU,BRF80,80
43340,2018,MD,Maryland,Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Frequency,BRFSS,Some Days,%,Percentage,...,"(39.29058096400047, -76.60926011099963)",BEH,100BEH,166SSP,1GEN,8AGE,6RAC,6EDU,BRF26,26

In [8]:
df_can.columns.tolist()
df_can.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 ...]

Limpieza de datos

In [9]:
df_can.head(10)

,YEAR,LocationAbbr,LocationDesc,TopicType,TopicDesc,MeasureDesc,DataSource,Response,Data_Value_Unit,Data_Value_Type,...,GeoLocation,TopicTypeId,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2017,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,110CSA,2GEN,8AGE,6RAC,6EDU,BRF21,21
1,2018,US,National Median (States and DC),Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Current,%,Percentage,...,NaN,BEH,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF27,27
2,2017,US,National Median (States and DC),Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Never,%,Percentage,...,NaN,BEH,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF28,28
3,2016,GU,Guam,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,150BEH,177SCU,1GEN,8AGE,4RAC,6EDU,BRF69,69
4,2014,GU,Guam,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(13.444304, 144.793731)",BEH,100BEH,110CSA,1GEN,8AGE,5RAC,6EDU,BRF22,22
5,2012,IN,Indiana,Tobacco Use – Survey Data,Cigarette Use (Adults),Current Smoking,BRFSS,NaN,%,Percentage,...,"(39.766910452000445, -86.14996019399968)",BEH,100BEH,110CSA,3GEN,8AGE,6RAC,6EDU,BRF21,21
6,2018-2019,DE,Delaware,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use – (2 yrs – Race/Ethnicity),BRFSS,NaN,%,Percentage,...,"(39.008830667000495, -75.57774116799965)",BEH,150BEH,177SCR,1GEN,8AGE,5RAC,6EDU,BRF77,77
7,2011,MO,Missouri,Tobacco Use – Survey Data,Smokeless Tobacco Use (Adults),Current Use,BRFSS,NaN,%,Percentage,...,"(38.635790776000476, -92.56630005299968)",BEH,150BEH,177SCU,1GEN,7AGE,6RAC,5EDU,BRF71,71
8,2013,ME,Maine,Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Frequency,BRFSS,Some Days,%,Percentage,...,"(45.254228894000505, -68.98503133599962)",BEH,100BEH,166SSP,3GEN,8AGE,6RAC,6EDU,BRF26,26
9,2017,WA,Washington,Tobacco Use – Survey Data,Cigarette Use (Adults),Smoking Status,BRFSS,Current,%,Percentage,...,"(47.52227862900048, -120.47001078999972)",BEH,100BEH,165SSA,2GEN,8AGE,6RAC,6EDU,BRF27,27

In [10]:
df_can.describe()

,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,Sample_Size,DisplayOrder
count,41224.000000,41146.000000,41146.000000,41146.000000,41146.000000,43341.000000
mean,25.355041,1.710589,22.010864,28.679347,3050.171171,47.079278
std,25.002587,1.715646,24.135141,26.209196,3798.872768,24.494487
min,0.000000,0.000000,0.000000,0.000000,50.000000,5.000000
25%,5.100000,0.600000,3.200000,6.900000,480.000000,24.000000
50%,17.100000,1.100000,14.300000,19.800000,1798.000000,51.000000
75%,38.900000,2.200000,30.500000,47.400000,4203.000000,71.000000
max,99.900000,16.600000,99.800000,100.000000,40726.000000,81.000000

In [11]:
df_can.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43341 entries, 0 to 43340
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   YEAR                        43341 non-null  object
 1   LocationAbbr                43341 non-null  object
 2   LocationDesc                43341 non-null  object
 3   TopicType                   43341 non-null  object
 4   TopicDesc                   43341 non-null  object
 5   MeasureDesc                 43341 non-null  object
 6   DataSource                  43341 non-null  object
 7   Response                    15018 non-null  object
 8   Data_Value_Unit             43341 non-null  object
 9   Data_Value_Type             43341 non-null  object
 10  Data_Value                  41224 non-null  float64
 11  Data_Value_Footnote_Symbol  2117 non-null   object
 12  Data_Value_Footnote         2117 non-null   object
 13  Data_Value_Std_Err          41146 non-null  float64
 14  Low_Confidence_Limit        41146 non-null  float64
 15  High_Confidence_Limit       41146 non-null  float64
 16  Sample_Size                 41146 non-null  float64
 17  Gender                      43341 non-null  object
 18  Race                        43341 non-null  object
 19  Age                         43341 non-null  object
 20  Education                   43341 non-null  object
 21  GeoLocation                 43263 non-null  object
 22  TopicTypeId                 43341 non-null  object
 23  TopicId                     43341 non-null  object
 24  MeasureId                   43341 non-null  object
 25  StratificationID1           43341 non-null  object
 26  StratificationID2           43341 non-null  object
 27  StratificationID3           43341 non-null  object
 28  StratificationID4           43341 non-null  object
 29  SubMeasureID                43341 non-null  object
 30  DisplayOrder                43341 non-null  int64
dtypes: float64(5), int64(1), object(25)
memory usage: 10.3+ MB

In [ ]:
df_can.replace("[]", np.nan, inplace = True)
df_can.head(5)

In [12]:
df_can.isnull().sum()

YEAR                              0
LocationAbbr                      0
LocationDesc                      0
TopicType                         0
TopicDesc                         0
MeasureDesc                       0
DataSource                        0
Response                      28323
Data_Value_Unit                   0
Data_Value_Type                   0
Data_Value                     2117
Data_Value_Footnote_Symbol    41224
Data_Value_Footnote           41224
Data_Value_Std_Err             2195
Low_Confidence_Limit           2195
High_Confidence_Limit          2195
Sample_Size                    2195
Gender                            0
Race                              0
Age                               0
Education                         0
GeoLocation                      78
TopicTypeId                       0
TopicId                           0
MeasureId                         0
StratificationID1                 0
StratificationID2                 0
StratificationID3                 0
StratificationID4                 0
SubMeasureID                      0
DisplayOrder                      0
dtype: int64

In [14]:
df_can.drop(['TopicType','DataSource','Data_Value_Unit','Data_Value_Type', 'TopicTypeId','Data_Value_Footnote_Symbol','Data_Value_Footnote','GeoLocation'], axis=1, inplace=True)
df_can.head(2)

,YEAR,LocationAbbr,LocationDesc,TopicDesc,MeasureDesc,Response,Data_Value,Data_Value_Std_Err,Low_Confidence_Limit,High_Confidence_Limit,...,Age,Education,TopicId,MeasureId,StratificationID1,StratificationID2,StratificationID3,StratificationID4,SubMeasureID,DisplayOrder
0,2017,GU,Guam,Cigarette Use (Adults),Current Smoking,NaN,30.0,2.3,25.4,34.6,...,All Ages,All Grades,100BEH,110CSA,2GEN,8AGE,6RAC,6EDU,BRF21,21
1,2018,US,National Median (States and DC),Cigarette Use (Adults),Smoking Status,Current,16.1,NaN,NaN,NaN,...,All Ages,All Grades,100BEH,165SSA,1GEN,8AGE,6RAC,6EDU,BRF27,27

Corrección de formato de datos

In [15]:
df_can.dtypes

YEAR                      object
LocationAbbr              object
LocationDesc              object
TopicDesc                 object
MeasureDesc               object
Response                  object
Data_Value               float64
Data_Value_Std_Err       float64
Low_Confidence_Limit     float64
High_Confidence_Limit    float64
Sample_Size              float64
Gender                    object
Race                      object
Age                       object
Education                 object
TopicId                   object
MeasureId                 object
StratificationID1         object
StratificationID2         object
StratificationID3         object
StratificationID4         object
SubMeasureID              object
DisplayOrder               int64
dtype: object

In [16]:
df_can[["DisplayOrder"]] = df_can[["DisplayOrder"]].astype("int")

In [17]:
df_can.dtypes

YEAR                      object
LocationAbbr              object
LocationDesc              object
TopicDesc                 object
MeasureDesc               object
Response                  object
Data_Value               float64
Data_Value_Std_Err       float64
Low_Confidence_Limit     float64
High_Confidence_Limit    float64
Sample_Size              float64
Gender                    object
Race                      object
Age                       object
Education                 object
TopicId                   object
MeasureId                 object
StratificationID1         object
StratificationID2         object
StratificationID3         object
StratificationID4         object
SubMeasureID              object
DisplayOrder               int32
dtype: object

Estandarización de los datos

In [ ]:
df_can.head()

Agrupación de datos

In [ ]:
plt.pyplot.hist(df_can["Year"])

# Configurar las etiquetas para los ejes x e y más un título
plt.pyplot.xlabel("año")
plt.pyplot.ylabel("cantidad")
plt.pyplot.title("años top 100")